@use "../../../../assets/scss/variables" as v;
@use "../../../../assets/scss/mixins" as m;
.driver-banner {
  display: flex;
  @media (max-width: 992px) {
    flex-direction: column;
  }
  .image {
    margin-top: 2rem;
  }
  .banner-left {
    padding: 2rem 0;
    display: flex;
    text-align: right;
    background-color: v.$color3;
    .content-left {
      padding: 3rem;
      h3 {
        color: v.$color4;
        font-size: 1.8rem;
        font-weight: 700;
        @media (max-width: 950px) {
          font-size: 1.2rem;
        }
      }
      p {
        color: v.$color4;
        font-size: 1rem;
        font-weight: 400;
        @media (max-width: 950px) {
          font-size: 0.7rem;
        }
      }
    }
  }
  .banner-right {
    padding: 2rem 0;
    display: flex;
    background-color: v.$color1;
    .content-right {
      padding: 3rem;
      h3 {
        color: v.$color4;
        font-size: 1.8rem;
        font-weight: 700;
        @media (max-width: 950px) {
          font-size: 1.2rem;
        }
      }
      p {
        color: v.$color4;
        font-size: 1rem;
        font-weight: 400;
        @media (max-width: 950px) {
          font-size: 0.7rem;
        }
      }
    }
  }
  a {
    background-color: v.$color2;
    border: none;
    padding: 0.6rem;
    width: 275px;
    margin-top: 1.5rem;
    border-radius: 2px;
  }
}
