@use "../../../assets/scss/variables" as v;
@use "../../../assets/scss/mixins" as m;
.auth {
  .auth-navigate {
    margin-bottom: 0.7rem;
    a {
      color: #fff;
      text-decoration: none;
      font-size: 1.2rem;

      svg {
        font-size: 1.6rem;
        color: v.$color2;
      }
    }
  }
  height: 105vh;
  background-color: v.$color1;
  @include m.flexbox(column, center, center);
  .card {
    width: auto;
    height: auto;
    padding: 2.8rem;
    background-color: v.$color4;
    h1 {
      text-align: center;
      font-size: 1.6rem;
      border-bottom: 1px solid gray;
      margin-bottom: 15px;
    }
    .forgot-password {
      text-align: right;
      margin: 0.4rem;
    }
    .login-fa-go {
      margin-top: 1rem;
      display: flex;
      .facebook-icon {
        width: 50%;
        padding: 0.4rem;
        text-align: center;
        background-color: darkblue;
        font-size: 1.4rem;
        color: #fff;
      }
      .google-icon {
        width: 50%;
        padding: 0.4rem;
        text-align: center;
        background-color: rgb(219, 3, 3);
        font-size: 1.5rem;
        color: #fff;
        margin-left: 1rem;
      }
    }
  }
  .card-register {
    width: 55%;
    height: auto;
    padding: 2.4rem;
    background-color: v.$color4;
    @media (max-width: 992px) {
      width: 95%;
    }
    h1 {
      text-align: center;
      font-size: 1.6rem;
      border-bottom: 1px solid gray;
      margin-bottom: 15px;
    }
  }
  .btn-register {
    margin-top: 1rem;
  }
  .input-icons {
    margin-left: 0.5rem;
    margin-top: -5px;
  }
}
